<div class="footer">
        <div id="footerChild">
            <a  id="mailto" href="mailto:gatiganti44914@sas.edu.sg?Subject=TutorBuddy"><span class="glyphicon glyphicon-envelope"></span>Contact Us</a>
            <p>Developed by Sohit Gatiganti and Maximus Santosa at Singapore American School</p>
        </div>    
</div>