<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <% include partials/script %>
 <script>
   particlesJS.load('particles-js', './javascripts/particlesjs-config.json', function() {
    console.log('callback - particles.js config loaded');
  });
 </script>
</head>
<body >
        <% include partials/menu %>
        <div id="particles-js"></div>
        <div class="row" id="leaderContainer">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Top Overall Tutor</h5>
                        <p class="card-text">Insert Name Here</p>
                        <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Top Math Tutor</h5>
                        <p class="card-text">Insert Name Here</p>
                        <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div> 
                </div>      
                <div class="col-sm-6">
                    <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Top Science Tutor</h5>
                            <p class="card-text">Insert Name Here</p>
                            <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Top Language Tutor</h5>
                        <p class="card-text">Insert Name Here</p>
                        <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Top English Tutor</h5>
                        <p class="card-text">Insert Name Here</p>
                        <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div> 
                </div>      
                <div class="col-sm-6">
                    <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Top Social Studies Tutor</h5>
                            <p class="card-text">Insert Name Here</p>
                            <p class="card-text"><i><b>15</b> hours</i></p>
                    </div>
                    </div>
                </div>
        </div>
            <% include partials/footer %>
</body>

</html>